body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Tahoma;
    font-size: 17px;
    }
    

.avatar {
    width: 150px;
    border-radius: 5%;
    box-shadow: 2px 2px gray;
   
}


.card {
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    display: block; 
    text-align: center;
    background: #f8edeb;
    color: black;
    border: 3px solid #fcd5ce;
    border-radius: 3%;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted #f28482;
}

div:hover{
    background-color: #84a59d;
    color:antiquewhite;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

